<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.World_Cup_app"
        tools:targetApi="31">
        <activity
            android:name=".simpleListView.SqlLite.SqlLiteActivity"
            android:exported="false" />
        <activity
            android:name=".simpleListView.SharedPref.SharedprefActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".simpleListView.GridLayoyt.GriddActivity"
            android:exported="true"></activity>
        <activity
            android:name=".simpleListView.BottomNavigation.BottomActivity"
            android:exported="true" />
        <activity
            android:name=".simpleListView.NavigationDrawer.NvigationActivity"
            android:exported="true" />
        <activity
            android:name=".simpleListView.TabLayout.MyTabLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".simpleListView.viewPager.ViewPager"
            android:exported="false" />
        <activity
            android:name=".simpleListView.CarviewGame.CardView"
            android:exported="false" />
        <activity
            android:name=".simpleListView.ReclyeVieww.RecyleeView"
            android:exported="true" />
        <activity
            android:name=".simpleListView.customListView.CustomList"
            android:exported="true" />
    </application>

</manifest>